/* @TODO 
    REFACTOR CSS USING FLEXBOX FOR DISPLAY LAYOUT */

*{
    padding: 0;
    margin:0;
}

body{
    background-color: lightgrey;
}

.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 25vh auto;
}

.intro{
    user-select: none;
    text-align: center;
    margin: 1rem;
}

.error{
    position: absolute;
    top: 37%;
    transform: translateX(-50%);
    left: 50%;
    color: rgb(219, 17, 17);
}

/* FORECAST SELECT */

.forecast_select{
    display: flex;
    background-color: #f1f1f1;
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
    justify-content: center;
    margin: auto;
    list-style-type: none;
}

.forecast_select li{
    display: inherit;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    height: 40px;
    width: 100px;
}

.forecast_select li:hover,
.active{
    background-color: antiquewhite;
}

.forecast_select li:first-of-type{
    border-radius: 20px 0 0  20px ;
}

.forecast_select li:last-of-type{
    border-radius: 0 20px 20px 0;
}

/* SEARCH */

.search_bar_box{
    position: relative;
    margin: 1rem auto 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
}

.search_bar_box input{
    margin-right: 1rem;
    text-indent: .5rem;
    height: 40px;
    font-size: 1rem;
    outline: none;
    width:245px;
    border: none;
    border-radius: 20px;
}

.search_bar_box button{
    position: absolute;
    width:40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    user-select: none;
    cursor: pointer;
    transform: translatex(50%);
    left: 190px;
}

.location_select{
    position: absolute;
    list-style-type: none;
    background-color: #f1f1f1;
    top: 40px;
    left: 0px;
    width: 250px;
    z-index: 100;
    border-radius: 20px;
}

.location_select li{
    display: flex;
    user-select: none;
    list-style-type: none;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.location_select li:first-child{
    border-radius: 20px 20px 0 0;
}

.location_select li:last-child{
    border-radius: 0 0 20px 20px ;
}

.location_select li:hover{
    background-color: antiquewhite;
}

/* WEATHER DISPLAY */

.weather_slider{
    margin: auto;
    height: fit-content;
    max-width: 80vw;
    min-width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.weather_list_item{
    text-decoration: none;
    color: inherit;
    user-select: none;
    background-color: #f1f1f1;
    margin: 1rem .4rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
}

.temp{
    display: flex;
    flex-direction: row;
}

.temp_min,
.day{
    opacity: .5;
}

.temp_min,
.temp_max,
.day{
    margin: .4rem;
}