*{
    padding: 0;
    margin:0;
}

body{
    background-color: lightgrey;
}

.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 25vh auto;
}

.intro{
    user-select: none;
    text-align: center;
    margin: 1rem;
}

.error{
    position: absolute;
    top: 37%;
    transform: translateX(-50%);
    left: 50%;
    color: rgb(219, 17, 17);
}

.search_bar_box{
    margin: 1rem auto 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
}

.search_bar_box button,
.search_bar_box input{
    height: 40px;
    font-size: 1rem;
    outline: none;
    width:200px;
    border: 2px solid rgba(0, 0, 0, .3);
    border-radius: 7px;
}

.search_bar_box button{
    user-select: none;
    margin-left: 1rem;
    cursor: pointer;
}

.search_bar_box button:hover{
    background-color: #a5a5a5;
}

.search_bar_box button:active{
    transform: scale(.98);
}

.search_bar_box input{
    margin-right: 1rem;
    text-indent: .5rem;
}

.weather_slider{
    margin: auto;
    height: fit-content;
    max-width: 80vw;
    min-width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.weather_list_item{
    text-decoration: none;
    color: inherit;
    user-select: none;
    cursor: pointer;
    background-color: #f1f1f1;
    margin: 1rem .4rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
}

.temp{
    display: flex;
    flex-direction: row;
}

.temp_min,
.day{
    opacity: .5;
}

.temp_min,
.temp_max,
.day{
    margin: .4rem;
}