* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: lightgray;
  text-align: center;
  min-height: calc(100vh - 77px);
}

footer {
  height: 45px;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: lightgray;
}

.weather {
  padding-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.weather .__intro,
.weather .__showSaved {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-width: fit-content;
  max-width: fit-content;
  margin: 1rem;
  background-color: #e0dad0;
  height: 45px;
  padding: 0 1.2rem;
  border-radius: 22.5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.weather .__showSaved {
  cursor: pointer;
  background-color: #f8f8f8;
}
.weather .__showSaved:hover {
  transform: scale(0.98);
  transition: all 0.5s ease;
}
.weather .__showSaved:not(hover) {
  transition: all 0.5s ease;
}
.weather .__showSaved:active {
  background-color: #c2c2c2;
}
.weather .__error {
  opacity: 0;
  transition: 0.5s ease all;
}
.weather .__error--active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0 1rem;
  position: absolute;
  top: 2rem;
  background-color: #f8f8f8;
  height: 45px;
  border-radius: 22.5px;
  color: firebrick;
  font-weight: 600;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: 0.5s ease all;
}
.weather .__forecastSelect {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 1rem;
  list-style-type: none;
  height: 45px;
  width: 150px;
  border-radius: 22.5px;
  background-color: #f8f8f8;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.weather .__forecastSelect__option {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  z-index: 2;
  width: 75px;
  height: 45px;
}
.weather .__forecastSelect__option:first-of-type {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.weather .__forecastSelect__option:last-of-type {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.weather .__forecastSelect__option--active {
  background-color: antiquewhite;
}
.weather .__aboutLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  height: 45px;
  background-color: #f8f8f8;
  width: 100px;
  border-radius: 22.5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.weather .__aboutLink:hover {
  transform: scale(0.98);
  transition: all 0.5s ease;
}
.weather .__aboutLink:not(hover) {
  transition: all 0.5s ease;
}
.weather .__aboutLink:active {
  background-color: #c2c2c2;
}
.weather .__locationSearch {
  width: 300px;
  position: relative;
  border-radius: 22.5px;
  z-index: 1;
}
.weather .__locationSearch__input {
  outline: none;
  height: 45px;
  font-size: 1rem;
  width: 100%;
  border-radius: inherit;
  border: none;
  z-index: 2;
  text-indent: 1rem;
}
.weather .__locationSearch__button {
  cursor: pointer;
  background-color: #c2c2c2;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  z-index: 3;
  top: 2.5px;
  right: 2.5px;
}
.weather .__locationSearch__button__button__img {
  z-index: 2;
}
.weather .__locationSearch .__locationSelect {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-color: #f8f8f8;
  list-style-type: none;
  width: 300px;
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 22.5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.weather .__locationSearch .__locationSelect::-webkit-scrollbar {
  width: 0;
}
.weather .__locationSearch .__locationSelect__option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-indent: 0.7rem;
  width: 100%;
  min-height: 45px;
  height: 45px;
  background-color: #f8f8f8;
  cursor: pointer;
}
.weather .__locationSearch .__locationSelect__option:first-of-type {
  border-top-left-radius: 22.5px;
  border-top-right-radius: 22.5px;
}
.weather .__locationSearch .__locationSelect__option:last-of-type {
  border-bottom-left-radius: 22.5px;
  border-bottom-right-radius: 22.5px;
}
.weather .__locationSearch .__locationSelect__option:hover {
  background-color: antiquewhite;
}
.weather .__locationSearch .__locationSelect__option .__button {
  width: 25px;
  height: 25px;
  fill: #c2c2c2;
  background-color: inherit;
  border: none;
  margin-right: 0.6rem;
  z-index: 2;
  cursor: pointer;
}
.weather .__locationSearch .__locationSelect__option .__button:hover {
  fill: #ff6600;
}
.weather .__locationSearch .__locationSelect__option .__button:active {
  scale: 0.9;
}
.weather .__locationSearch .__locationSelect__option .__button.--saved {
  fill: #ff6600;
}
.weather .__weatherList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 1rem 3rem;
  max-width: 100%;
  flex-wrap: wrap;
  list-style-type: none;
}
.weather .__weatherList .__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f8f8f8;
  border-radius: 1rem;
  width: 175px;
  height: 200px;
  margin: 1rem 0.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.weather .__weatherList .__card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.weather .__weatherList .__card:not(hover) {
  transition: all 0.5s ease;
}
.weather .__weatherList .__card h4 {
  margin: 0.4rem auto;
  font-weight: 300;
}
.weather .__weatherList .__card img {
  min-height: 65px;
}
.weather .__weatherList .__card small {
  margin: 0.3rem auto;
  width: 80%;
}
.weather .__weatherList .__card .__temp {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.weather .__weatherList .__card .__temp .__high {
  margin: 0.5rem 0.3rem 0.5rem 0;
}
.weather .__weatherList .__card .__temp .__low {
  margin: 0.5rem 0 0.5rem 0.3rem;
  color: #c2c2c2;
}
.weather .__savedLocationsList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
  z-index: 3;
}
.weather .__savedLocationsList h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #e0dad0;
  text-indent: 1rem;
  font-weight: 400;
  font-size: 1rem;
  width: 300px;
  height: 45px;
  border-radius: 22.5px;
}
.weather .__savedLocationsList ul {
  position: absolute;
  top: 45px;
  list-style-type: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 22.5px;
  max-height: 260px;
  overflow-y: scroll;
  transition: all 0.3s ease;
}
.weather .__savedLocationsList ul::-webkit-scrollbar {
  width: 0;
}
.weather .__savedLocationsList ul.--hidden {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.weather .__savedLocationsList .__option {
  height: 45px;
  width: 300px;
  text-indent: 1rem;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.weather .__savedLocationsList .__option:hover {
  background-color: antiquewhite;
}
.weather .__savedLocationsList .__option:last-of-type {
  border-bottom-left-radius: 22.5px;
  border-bottom-right-radius: 22.5px;
}
.weather .__savedLocationsList button {
  width: 15px;
  height: 15px;
  fill: #c2c2c2;
  background-color: inherit;
  border: none;
  margin-right: 0.7rem;
  z-index: 2;
  cursor: pointer;
}
.weather .__savedLocationsList button:hover {
  fill: #ff6600;
}
.weather .__savedLocationsList button:active {
  scale: 0.9;
}

.about {
  max-width: 80%;
  display: inherit;
  flex-direction: column;
  align-items: left;
  text-align: left;
}
.about:first-of-type p {
  line-height: 1.7rem;
}
.about .__homeLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  background-color: #f8f8f8;
  margin-top: 1.3rem;
  height: 45px;
  width: 170px;
  border-radius: 22.5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
.about .__homeLink:hover {
  transform: scale(0.98);
  transition: all 0.5s ease;
}
.about .__homeLink:not(hover) {
  transition: all 0.5s ease;
}
.about .__homeLink:active {
  background-color: #c2c2c2;
}
.about__list {
  margin: 1rem 2rem;
  font-weight: bold;
}
.about__list li {
  font-weight: 100;
  margin-left: 2rem;
}
@media only screen and (max-width: 480px) {
  .about {
    font-size: 0.9rem;
    align-items: center;
  }
  .about:first-of-type p {
    line-height: initial;
  }
  .about__list {
    margin-left: 1rem;
  }
}

/*# sourceMappingURL=index.css.map */
