*{
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

// @TODO  REFACTOR SCSS DOWN FURTHER, MORE VARIABLES, MORE MIXINS, REFACTOR CLASSNAMES IN APP??

@mixin flex-column($justify){
    display: flex;
    align-items: center;
    justify-content: $justify;
    flex-direction: column;
}

@mixin flex-row($justify){
    display: flex;
    align-items: center;
    justify-content: $justify;
    flex-direction: row;
}

@mixin scale-on-hover($scale){
    &:hover{
        transform: scale($scale);
        transition: all .5s ease;
    }

    &:not(hover){
        transition: all .5s ease;
    }
}

// @GLOBAL VARIABLES

$box-shadow1: 0 1px 4px rgba($color: #000000, $alpha: .2);
$box-shadow2: 0 1px 4px rgba($color: #000000, $alpha: .4);
$primary-color: #e0dad0;
$secondary-color: #f8f8f8;
$tertiary-color: antiquewhite;
$quaternary-color: #c2c2c2;
$quinary-color: rgb(255, 102, 0);

.wrapper{
    @include flex-column(center);
    background-color: lightgray;
    text-align: center;
    min-height: calc(100vh - 77px);
}

footer{
    height: 45px;
    padding-top: 2rem;
    @include flex-column(center);
    background-color: lightgray;
}

.weather{
    padding-top: 10rem;
    @include flex-column(center);
   
    // FORECAST TYPE AND LOCATION DISPLAY
    .__intro,
    .__showSaved{
        @include flex-row(center);
        min-width: fit-content;
        max-width: fit-content;
        margin: 1rem;
        background-color: $primary-color;
        height: 45px;
        padding: 0 1.2rem;
        border-radius: 22.5px;
        box-shadow: $box-shadow1;
        
    }
    // SHOW SAVED BUTTON
    .__showSaved{
        cursor: pointer;
        background-color: $secondary-color;
        @include scale-on-hover(.98);
        &:active{
            background-color: $quaternary-color;
        }
    }

    // ERROR POPUP
    .__error{
        opacity: 0;
        transition: .5s ease all;
    }
    
    .__error--active{
            @include flex-row(center);
            padding: 0 1rem;
            position: absolute;
            top: 2rem;
            background-color: $secondary-color;
            height: 45px;
            border-radius: 22.5px;
            color: firebrick;
            font-weight: 600;
            box-shadow: $box-shadow1;
            opacity: 1;
            transition: .5s ease all;
    }

    // FORECAST SELECT
    .__forecastSelect{
        @include flex-row(center);
        margin: 1rem;
        list-style-type: none;
        height: 45px;
        width: 150px;
        border-radius: 22.5px;
        background-color: $secondary-color;
        box-shadow: $box-shadow1;

    &__option{
        cursor: pointer;
        @include flex-row(center);
        z-index: 2;
        width: 75px;
        height: 45px;
        
        &:first-of-type{
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px
        }
        &:last-of-type{
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        &--active{
            background-color: $tertiary-color;
        }
        }
    }

    // ABOUT LINK
    .__aboutLink{
        @include flex-row(center);
        cursor: pointer;
        color: inherit;
        text-decoration: none;
        height: 45px;
        background-color: $secondary-color;
        width: 100px;
        border-radius: 22.5px;
        box-shadow: $box-shadow1;

        @include scale-on-hover(.98);

        &:active{
            background-color: $quaternary-color;
        }
    }

    // LOCATION SEARCH
    .__locationSearch{
        width: 300px;
        position: relative;
        border-radius: 22.5px;
        z-index: 1;
    

        &__input{
            outline: none;
            height: 45px;
            font-size: 1rem;
            width: 100%;
            border-radius: inherit;
            border: none;
            z-index: 2;
            text-indent: 1rem;
        }

        &__button{
            cursor: pointer;
            background-color: $quaternary-color;
            position: absolute;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: none;
            z-index: 3;
            top: 2.5px;
            right: 2.5px;

            &__button__img{
                z-index: 2;
            }
        }

        .__locationSelect{
            @include flex-column(center);
            position: absolute;
            background-color: $secondary-color;
            list-style-type: none;
            width: 300px;
            max-height: 250px;
            overflow-y: scroll;
            overflow-x: hidden;
            &::-webkit-scrollbar{
                width: 0;
            }
            border-radius: 22.5px;
            box-shadow: $box-shadow1;

            &__option{
                @include flex-row(space-between);
                text-indent: .7rem;
                width: 100%;
                min-height: 45px;
                height: 45px;
                background-color: $secondary-color;
                cursor: pointer;

                &:first-of-type{
                    border-top-left-radius:22.5px;
                    border-top-right-radius:22.5px;
                }
                &:last-of-type{
                    border-bottom-left-radius: 22.5px;
                    border-bottom-right-radius: 22.5px;
                }
                &:hover{
                    background-color: $tertiary-color;
                }

                .__button{
                    width: 25px;
                    height: 25px;
                    fill: $quaternary-color;
                    background-color: inherit;
                    border: none;
                    margin-right: .6rem;
                    z-index: 2;
                    cursor: pointer;

                    &:hover{
                        fill: $quinary-color;
                    }

                    &:active{
                        scale: .9;
                    }

                    &.--saved{
                        fill: $quinary-color;
                    }
                    
                }
            }
        }
    }

    // WEATHER CARDS
    
    .__weatherList{
        @include flex-row(center);
        margin: 1rem 3rem;
        max-width: 100%;
        flex-wrap: wrap;
        list-style-type: none;

        & .__card{
            @include flex-column(center);
            background-color: $secondary-color;
            border-radius: 1rem;
            width: 175px;
            height: 200px;
            margin: 1rem .5rem;
            box-shadow: $box-shadow2;

            // HOVER STATES TRANSITIONS
            @include scale-on-hover(1.1);

            & h4{
                margin: .4rem auto;
                font-weight: 300;
            }

            & img{
                min-height: 65px;
            }

            & small{
                margin: .3rem auto;
                width: 80%;
            }

            & .__temp{
                width: 60%;
                @include flex-row(center);

                & .__high{
                    margin: .5rem .3rem .5rem 0;
                }

                & .__low{
                    margin: .5rem 0 .5rem .3rem;
                    color: $quaternary-color;
                }
            }
            


        }
    }
    
    // SAVED LOCATIONS POPUP LIST
    .__savedLocationsList{
        @include flex-column(center);
        position: relative;
        margin-bottom: 1rem;
        z-index: 3;
        border-radius: 22.5px;
        box-shadow: $box-shadow1;

        h4{
            @include flex-row(space-between);
            background-color: $primary-color;
            text-indent: 1rem;
            font-weight: 400;
            font-size: 1rem;
            width: 300px;
            height: 45px;
            border-radius: 22.5px;
        }

        ul{
            position: absolute;
            top: 45px;
            list-style-type: none;
            box-shadow: $box-shadow1;
            border-radius: 22.5px;
            max-height: 260px;
            overflow-y: scroll;
            transition: all .3s ease;
            
            
            &::-webkit-scrollbar{
                width: 0;
            }
        }

        ul.--hidden{
            max-height: 0;
            overflow: hidden;
            transition: all .3s ease;
        }

        .__option{
            height: 45px;
            width: 300px;
            text-indent: 1rem;
            background-color: $secondary-color;
            @include flex-row(space-between);

            &:hover{
                background-color: $tertiary-color;
            }

            &:first-of-type{
                // border-top-right-radius: 22.5px;
                // border-top-left-radius: 22.5px;
                // background-color: $primary-color;
            }

            &:last-of-type{
                border-bottom-left-radius: 22.5px;
                border-bottom-right-radius: 22.5px;
            }

        }

        & button{
            width: 15px;
            height: 15px;
            fill: $quaternary-color;
            background-color: inherit;
            border: none;
            margin-right: .7rem;
            z-index: 2;
            cursor: pointer;

            &:hover{
                fill: $quinary-color;
            }

            &:active{
                scale: .9;
            }
        }
    }
}


// ABOUT PAGE
.about{
    max-width: 80%;
    display: inherit;
    flex-direction: column;
    align-items: left;
    text-align: left;

    &:first-of-type p{
        line-height: 1.7rem;
    }

    .__homeLink{
        @include flex-column(center);
        text-decoration: none;
        color: inherit;
        background-color: $secondary-color;
        margin-top: 1.3rem;
        height: 45px;
        width: 170px;
        border-radius: 22.5px;
        box-shadow: 0 1px 5px rgba($color: #000000, $alpha: .3);

        @include scale-on-hover(.98);

        &:active{
            background-color: $quaternary-color;
        }
    }

    &__list{
        margin: 1rem 2rem;
        font-weight: bold;

        & li{
            font-weight: 100;
            margin-left: 2rem;
        }
    }

    @media only screen and (max-width:480px){
        font-size: .9rem;
        align-items: center;

        &:first-of-type p{
            line-height: initial;
        }

        &__list{
            margin-left: 1rem;
        }
    }
    
}