*{
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

$primary-color: #e0dad0;
$secondary-color: #f8f8f8;
$tertiary-color: antiquewhite;
$quaternary-color: #c2c2c2;

.wrapper{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    min-height: calc(100vh - 77px);
}

footer{
    height: 45px;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

.weather{
    padding-top: 10rem;
    display: inherit;
    flex-direction: inherit;
    align-items: center;
   
    // @TODO fix display with intero
    .__intro,
    .__showSaved{
        display: inherit;
        align-items: center;
        text-align: center;
        min-width: fit-content;
        max-width: fit-content;
        margin: 1rem;
        background-color: $primary-color;
        height: 45px;
        padding: 0 1.2rem;
        border-radius: 22.5px;
        box-shadow: 0 1px 4px rgba($color: #000000, $alpha: .2);
        
    }

    .__showSaved{
        cursor: pointer;
        background-color: $secondary-color;
        &:hover{
            transform:scale(.98);
            transition: all .5s ease;
        }
        &:not(hover){
            transition: all .5s ease;
        }
        &:active{
            background-color: $quaternary-color;
        }
    }

    .__error{
        display: inherit;
        opacity: 0;
        transition: .5s ease all;
    }
    
    .__error--active{
            display: inherit;
            justify-content: center;
            align-items: center;
            padding: 0 1rem;
            position: absolute;
            top: 2rem;
            background-color: $secondary-color;
            height: 45px;
            border-radius: 22.5px;
            color: firebrick;
            font-weight: 600;
            box-shadow: 0 1px 4px rgba($color: #000000, $alpha: .2);
            opacity: 1;
            transition: .5s ease all;
    }

    // FORECAST SELECT
    .__forecastSelect{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        list-style-type: none;
        height: 45px;
        width: 150px;
        border-radius: 22.5px;
        background-color: $secondary-color;
        box-shadow: 0 2px 5px rgba($color: #000000, $alpha: .2);

    &__option{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        width: 75px;
        height: 45px;
        
        &:first-of-type{
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px
        }
        &:last-of-type{
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        &--active{
            background-color: $tertiary-color;
        }
        }
    }

    .__aboutLink{
        display: inherit;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: inherit;
        text-decoration: none;
        height: 45px;
        background-color: $secondary-color;
        width: 100px;
        border-radius: 22.5px;
        box-shadow: 0 1px 5px rgba($color: #000000, $alpha: .3);

        &:hover{
            transform: scale(.98);
            transition: all .5s;
        }

        &:active{
            background-color: $quaternary-color;
        }
    }

    // LOCATION SEARCH
    .__locationSearch{
        width: 300px;
        position: relative;
        border-radius: 22.5px;
        z-index: 1;
    

        &__input{
            outline: none;
            height: 45px;
            font-size: 1rem;
            width: 100%;
            border-radius: inherit;
            border: none;
            z-index: 2;
            text-indent: 1rem;
        }

        &__button{
            cursor: pointer;
            background-color: $quaternary-color;
            position: absolute;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: none;
            z-index: 3;
            top: 2.5px;
            right: 2.5px;

            &__button__img{
                z-index: 2;
            }
        }

        .__locationSelect{
            position: absolute;
            background-color: $secondary-color;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            width: 300px;
            max-height: 250px;
            overflow-y: scroll;
            overflow-x: hidden;
            &::-webkit-scrollbar{
                width: 0;
            }
            border-radius: 22.5px;
            box-shadow: 0 2px 5px rgba($color: #000000, $alpha: .5);

            &__option{
                text-indent: .7rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                min-height: 45px;
                height: 45px;
                background-color: $secondary-color;
                cursor: pointer;

                &:first-of-type{
                    border-top-left-radius:22.5px;
                    border-top-right-radius:22.5px;
                }
                &:last-of-type{
                    border-bottom-left-radius: 22.5px;
                    border-bottom-right-radius: 22.5px;
                }
                &:hover{
                    background-color: $tertiary-color;
                }

                .__button{
                    width: 27px;
                    height: 27px;
                    fill: $quaternary-color;
                    background-color: inherit;
                    border: none;
                    margin-right: .6rem;
                    z-index: 2;
                    cursor: pointer;

                    &:hover{
                        fill: rgb(255, 102, 0);
                    }

                    &.--saved{
                        fill: rgb(255, 102, 0);
                    }
                    
                }
            }
        }
    }

    // WEATHER CARDS
    
    .__weatherList{
        margin: 1rem 3rem;
        max-width: 100%;
        display: inherit;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: center;
        align-items: center;

        & .__card{
            display: inherit;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $secondary-color;
            border-radius: 1rem;
            width: 175px;
            height: 200px;
            margin: 1rem .5rem;
            box-shadow: 0 2px 7px rgba($color: #000000, $alpha: .4);

            // HOVER STATES TRANSITIONS
            &:hover{
                transform: scale(1.05);
                transition: all .5s ease;
            }

            &:not(hover){
                transition: all .5s ease;
            }

            & h4{
                margin: .4rem auto;
                font-weight: 300;
            }

            & img{
                min-height: 65px;
            }

            & small{
                margin: .3rem auto;
                width: 80%;
            }

            & .__temp{
                width: 60%;
                display: inherit;
                justify-content: center;
                align-items: center;

                & .__high{
                    margin: .5rem .3rem .5rem 0;
                }

                & .__low{
                    margin: .5rem 0 .5rem .3rem;
                    color: $quaternary-color;
                }
            }
            


        }
    }
    

    
}

// ABOUT PAGE
.about{
    margin-top: 15rem;
    display: inherit;
    flex-direction: column;
    align-items: left;
    text-align: left;

    .__homeLink{
        display: inherit;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: inherit;
        background-color: $secondary-color;
        margin-top: 1.3rem;
        height: 45px;
        width: 170px;
        border-radius: 22.5px;
        box-shadow: 0 1px 5px rgba($color: #000000, $alpha: .3);

        &:hover{
            transform: scale(.98);
            transition: all .5s ease;
        }

        &:not(hover){
            transition: all .5s ease;
        }

        &:active{
            background-color: $quaternary-color;
        }
    }
}